<script>
    const cart = {{{ json cid }}};    
</script>
<h1>Cart: </h1>
<div class="card-group ms-3 me-3 mb-3">
    {{#each products}}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{product.title}}</h5>
            <h6>Quantity </h6>
            <p class="card-text">{{./quantity}}</p>
            <h6>Price </h6>
            <p class="card-text">{{multiply product.price ./quantity}}</p>
            <a class="btn btn-danger delete-product" data-id="{{product._id}}">Eliminar</a>
        </div>
    </div>
    {{/each}}
</div>
    <div class="d-flex justify-content-center mt-1">
        <h2>Total: {{total}}</h2>
    </div>



<div class="d-flex justify-content-center mt-1">
    <a href="/products" class="btn btn-primary">Volver</a>
</div>
<script src="../js/carts.js"></script>